.mainElementDiv{
    border-style: solid;
    border-width: 2px;
    display: flex !important;
    justify-content: space-between !important;
}

body{
  background-color: cadetblue;  
}
#dragableItem{
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;   
}